$size-factor: 0.5rem;

$brand: #03a9f4;

$bg-grey: #fafcff;
$input-grey: #f2f4f7;
$text-grey: #6a8bad;
$icon-grey: #707780;

$border-grey: #d7dce5;
$border-black: #7a8ba9;

$white: #ffffff;
$black: #333333;
$red: #fa0101;
$grey: #e8ebf1;
$orange: #6b5900;
$yellow: #ffe564;

$font-large: 2.1rem;
$font-medium: 1.2rem;
$font-small: 1rem;

$header-height: 60px;
$max-body-width: 1440px;

$el-message-zindex: 10000;
$hint-css-zindex: 9999;
